<template>
  <PageWrapper :breadcrumbs="breadcrumbs">
    <UtilityCard
      :loading="loading"
      title="Sunting Pengguna"
    >
      <template #toolbar>
        <VBtn
          :disabled="!isFormValid || loading"
          color="primary"
          flat
          @click="submitHandler"
        >
          <VIcon
            class="mr-2"
            small
          >
            save
          </VIcon>
          Simpan
        </VBtn>
      </template>
      <VLayout justify-center>
        <VFlex
          md9
          xs12
        >
          <VCardText>
            <UserForm
              v-model="isFormValid"
              :edit-mode="true"
            />
          </VCardText>
        </VFlex>
      </VLayout>
      <VCardActions>
        <VSpacer />
        <VBtn
          :disabled="!isFormValid || loading"
          color="primary"
          @click="submitHandler"
        >
          <VIcon
            class="mr-2"
            small
          >
            save
          </VIcon>
          Simpan
        </VBtn>
      </VCardActions>
    </UtilityCard>
  </PageWrapper>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import UserForm from '@/components/Forms/UserForm'
import { FETCH_ONE_USER, GET_USER_FORM, SET_USER_FORM, RESET_USER_FORM, UPDATE_USER } from '@/stores/types/userTypes'
import breadcrumbs from './breadcrumbs'

export default {
  name: 'UserEdit',

  components: {
    UserForm
  },

  data () {
    return {
      breadcrumbs,
      isFormValid: false
    }
  },

  computed: {
    ...mapState({
      loading: ({ User }) => User.isUpdating || User.isFetchingOne,
      error: ({ User }) => User.error
    }),

    ...mapGetters({
      stateForm: GET_USER_FORM
    })
  },

  async mounted () {
    const user = await this.$store.dispatch(FETCH_ONE_USER, this.$route.params.id)

    this.$store.commit(SET_USER_FORM, {
      id: user.id,
      name: user.name,
      fullName: user.fullName,
      roleId: user.role.id
    })
  },

  destroyed () {
    this.$store.commit(RESET_USER_FORM)
  },

  methods: {
    async submitHandler () {
      if (!this.isFormValid) return

      const payload = { ...this.stateForm }
      delete payload.id

      await this.$store.dispatch(UPDATE_USER, {
        id: this.stateForm.id,
        data: payload
      })

      if (!this.error) this.$router.push({ name: 'users' })
    }
  }
}
</script>
