<template>
  <PageWrapper :breadcrumbs="breadcrumbs">
    <UtilityCard
      :loading="loading"
      title="Tambah Pengguna"
    >
      <VLayout justify-center>
        <VFlex
          md9
          xs12
        >
          <VCardText>
            <UserForm v-model="isFormValid" />
          </VCardText>
        </VFlex>
      </VLayout>
      <VCardActions>
        <VSpacer />
        <VBtn
          :disabled="!isFormValid || loading"
          color="primary"
          @click="submitHandler"
        >
          <VIcon
            class="mr-2"
            small
          >
            save
          </VIcon>
          Simpan
        </VBtn>
      </VCardActions>
    </UtilityCard>
  </PageWrapper>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import UserForm from '@/components/Forms/UserForm'
import { GET_USER_FORM, RESET_USER_FORM, STORE_USER } from '@/stores/types/userTypes'
import breadcrumbs from './breadcrumbs'

export default {
  name: 'UserCreate',

  components: {
    UserForm
  },

  data () {
    return {
      breadcrumbs,
      isFormValid: false
    }
  },

  computed: {
    ...mapState({
      loading: ({ User }) => User.isStoring,
      error: ({ User }) => User.error
    }),

    ...mapGetters({
      stateForm: GET_USER_FORM
    })
  },

  destroyed () {
    this.$store.commit(RESET_USER_FORM)
  },

  methods: {
    async submitHandler () {
      if (!this.isFormValid) return

      await this.$store.dispatch(STORE_USER, this.stateForm)

      if (!this.error) this.$router.push({ name: 'users' })
    }
  }
}
</script>
