<template>
  <PageWrapper :breadcrumbs="breadcrumbs">
    <UtilityCard
      title="Laporan TPP per OPD"
      :loading="loading"
    >
      <VCardText>
        <VLayout align-center>
          <VFlex
            md3
            class="pr-1"
          >
            <AgencyControl>
              <template #default="{ items }">
                <VSelect
                  v-model="form.agencyId"
                  label="OPD"
                  :items="items"
                  item-value="id"
                  item-text="name"
                />
              </template>
            </AgencyControl>
          </VFlex>
          <VFlex
            md3
            class="px-1"
          >
            <DatePicker
              v-model="form.start"
              label="Awal"
            />
          </VFlex>
          <VFlex
            md3
            class="px-1"
          >
            <DatePicker
              v-model="form.end"
              label="Akhir"
            />
          </VFlex>
          <VBtn
            :disabled="$v.$invalid"
            color="primary"
            @click="fetchReportHandler"
          >
            Tampilkan
          </VBtn>
          <VBtn
            :disabled="$v.$invalid"
            color="primary"
            @click="exportReportHandler"
          >
            Cetak
          </VBtn>
        </VLayout>
      </VCardText>
      <VDataTable
        v-if="reportData.length > 0"
        :headers="tableHeaders"
        :items="reportData"
      >
        <template #items="{ item }">
          <td>{{ item.asn.id }}</td>
          <td>{{ item.asn.name }}</td>
          <td>{{ item.asn.echelon.name }}</td>
          <td>{{ item.initialTpp | rupiah }}</td>
          <td>{{ item.finalTpp | rupiah }}</td>
          <td class="text-xs-right">
            <VBtn
              color="primary"
              small
              @click="navigateToDetailsPage(item.asn.id)"
            >
              Detail
            </VBtn>
          </td>
        </template>
      </VDataTable>
    </UtilityCard>
  </PageWrapper>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import AgencyControl from '@/components/Renderless/AgencyControl'
import { FETCH_TPP_BY_AGENCY_REPORT } from '@/stores/types/reportTypes'
import { rupiah } from '@/filters/currency'
import breadcrumbs from './breadcrumbs'
import validator from './validator'

export default {
  name: 'AgencyTppReport',

  components: {
    AgencyControl
  },

  filters: {
    rupiah
  },

  data () {
    return {
      breadcrumbs,
      form: {
        agencyId: null,
        start: null,
        end: null
      },
      tableHeaders: [
        {
          value: 'asn.id',
          text: 'NIP'
        },
        {
          value: 'asn.name',
          text: 'Nama'
        },
        {
          value: 'asn.echelon.name',
          text: 'Eselon'
        },
        {
          value: 'initialTpp',
          text: 'TPP Awal'
        },
        {
          value: 'finalTpp',
          text: 'TPP Akhir'
        },
        {
          value: null,
          text: 'Tindakan',
          align: 'right'
        }
      ],
      reportData: []
    }
  },

  computed: {
    ...mapState({
      loading: ({ Report }) => Report.isFetching
    })
  },

  validations: validator,

  methods: {
    ...mapActions({
      fetchTppByAgencyReport: FETCH_TPP_BY_AGENCY_REPORT
    }),

    async fetchReportHandler () {
      this.reportData = await this.fetchTppByAgencyReport(this.form)
    },

    exportReportHandler () {
      const {
        agencyId,
        start,
        end
      } = this.form

      const url = `${process.env.VUE_APP_API_URL}report/tpp-by-agency/export?agencyId=${agencyId}&start=${start}&end=${end}`

      window.open(url, '_blank')
    },

    navigateToDetailsPage (asnId) {
      this.$router.push({
        name: 'report.asn',
        params: {
          asnId,
          start: this.form.start,
          end: this.form.end
        }
      })
    }
  }
}
</script>
