<template>
  <PageWrapper :breadcrumbs="breadcrumbs">
    <UtilityCard title="Daftar Pengguna">
      <template slot="toolbar">
        <VBtn
          icon
          @click="refreshTable"
        >
          <VIcon>refresh</VIcon>
        </VBtn>
        <UtilityCardSearchBar
          v-model="query"
          placeholder="Pencarian"
        />
        <UtilityCardMenu>
          <VListTile :to="{ name: 'users.create' }">
            <VListTileTitle>Tambah Pengguna</VListTileTitle>
          </VListTile>
        </UtilityCardMenu>
      </template>
      <UserControl ref="userControl">
        <template #default="{ items, loading }">
          <VCardText
            v-if="loading"
            class="text-xs-center"
          >
            <VProgressCircular
              :size="64"
              :indeterminate="true"
            />
          </VCardText>
          <VDataTable
            v-if="!loading"
            :headers="tableHeaders"
            :items="items"
            :search="query"
          >
            <template #items="{ item }">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td class="text-xs-right">
                <VBtn
                  small
                  @click="$router.push({ name: 'users.edit', params: { id: item.id } })"
                >
                  Sunting
                </VBtn>
                <VBtn
                  small
                  @click="deleteHandler(item.id)"
                >
                  Hapus
                </VBtn>
              </td>
            </template>
          </VDataTable>
        </template>
      </UserControl>
    </UtilityCard>
  </PageWrapper>
</template>

<script>
import { mapActions } from 'vuex'
import UserControl from '@/components/Renderless/UserControl'
import { DESTROY_USER } from '@/stores/types/userTypes'
import breadcrumbs from './breadcrumbs'

export default {
  name: 'UserIndex',

  components: {
    UserControl
  },

  data () {
    return {
      breadcrumbs,
      query: '',
      tableHeaders: [
        {
          value: 'id',
          text: 'Kode',
          sortable: false
        },
        {
          value: 'name',
          text: 'Pengguna',
          sortable: true
        },
        {
          value: null,
          text: 'Tindakan',
          align: 'right',
          sortable: false
        }
      ]
    }
  },

  methods: {
    ...mapActions({
      deleteUser: DESTROY_USER
    }),

    refreshTable () {
      this.$refs.userControl.fetch()
    },

    deleteHandler (id) {
      this.$confirm(
        'Hapus Pengguna',
        'Apakah anda yakin ingin menghapus data pengguna ini ini?',
        async () => {
          await this.deleteUser(id)
          await this.$refs.userControl.fetch()
        }
      )
    }
  }
}
</script>
