<template>
  <PageWrapper :breadcrumbs="breadcrumbs">
    <UtilityCard
      :loading="loading"
      title="Sunting ASN"
      class="mb-4"
    >
      <template #toolbar>
        <VBtn
          :disabled="!isFormValid || loading"
          color="primary"
          flat
          @click="submitHandler"
        >
          <VIcon
            class="mr-2"
            small
          >
            save
          </VIcon>
          Simpan
        </VBtn>
      </template>
      <VLayout justify-center>
        <VFlex
          md9
          xs12
        >
          <VCardText>
            <AsnForm
              v-model="isFormValid"
              :edit-mode="true"
            />
          </VCardText>
        </VFlex>
      </VLayout>
      <VCardActions>
        <VSpacer />
        <VBtn
          :disabled="!isFormValid || loading"
          color="primary"
          @click="submitHandler"
        >
          <VIcon
            class="mr-2"
            small
          >
            save
          </VIcon>
          Simpan
        </VBtn>
      </VCardActions>
    </UtilityCard>
    <UtilityCard
      :loading="loading"
      title="Sidik Jari"
    >
      <VDataTable
        v-if="!loading"
        :headers="tableHeaders"
        :items="fingerprints"
      >
        <template #items="{ item }">
          <td>{{ item.idx }}</td>
          <td>{{ item.algVer }}</td>
          <td>{{ item.template.substr(0, 150) }}</td>
          <td>
            <VBtn
              small
              @click="deleteFingerprintHandler(stateForm.id, item.id)"
            >
              Hapus
            </VBtn>
          </td>
        </template>
      </VDataTable>
    </UtilityCard>
  </PageWrapper>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import AsnForm from '@/components/Forms/AsnForm'
import {
  FETCH_ONE_ASN,
  GET_ASN_FORM,
  SET_ASN_FORM,
  RESET_ASN_FORM,
  UPDATE_ASN,
  DESTROY_FINGERPRINT
} from '@/stores/types/asnTypes'
import breadcrumbs from './breadcrumbs'

export default {
  name: 'AsnEdit',

  components: {
    AsnForm
  },

  data () {
    return {
      breadcrumbs,
      isFormValid: false,
      tableHeaders: [
        {
          value: 'idx',
          text: 'Index'
        },
        {
          value: 'algVer',
          text: 'Ver. Algoritma'
        },
        {
          value: 'template',
          text: 'Template'
        },
        {
          value: null,
          text: 'Tindakan'
        }
      ]
    }
  },

  computed: {
    ...mapState({
      loading: ({ Asn }) => Asn.isUpdating || Asn.isFetchingOne || Asn.isDestroyingFingerprint,
      error: ({ Asn }) => Asn.error
    }),

    ...mapGetters({
      stateForm: GET_ASN_FORM
    }),

    fingerprints () {
      return !this.stateForm.fingerprints
        ? []
        : this.stateForm.fingerprints.map(item => ({
          ...item,
          template: `${item.template.substr(0, 100)}...`
        }))
    }
  },

  async mounted () {
    await this.fetchDataHandler()
  },

  destroyed () {
    this.$store.commit(RESET_ASN_FORM)
  },

  methods: {
    async fetchDataHandler () {
      const asn = await this.$store.dispatch(FETCH_ONE_ASN, this.$route.params.id)

      this.$store.commit(SET_ASN_FORM, {
        id: asn.id,
        agencyId: asn.agency.id,
        rankId: asn.rank.id,
        echelonId: asn.echelon.id,
        tppId: asn.tpp.id,
        workshiftId: asn.workshift.id,
        calendarId: asn.calendar.id,
        pin: asn.pin,
        name: asn.name,
        phone: asn.phone,
        address: asn.address,
        fingerprints: asn.fingerprints
      })
    },

    async submitHandler () {
      if (!this.isFormValid) return

      const payload = { ...this.stateForm }
      delete payload.id

      await this.$store.dispatch(UPDATE_ASN, {
        id: this.stateForm.id,
        data: payload
      })

      if (!this.error) this.$router.push({ name: 'asn' })
    },

    async deleteFingerprintHandler (asnId, fingerprintId) {
      this.$confirm(
        'Hapus Sidik Jari',
        'Apakah anda yakin ingin menghapus data sidik jari ini?',
        async () => {
          await this.$store.dispatch(DESTROY_FINGERPRINT, {
            asnId,
            fingerprintId
          })

          await this.fetchDataHandler()
        }
      )
    }
  }
}
</script>
