<template>
  <PageWrapper :breadcrumbs="breadcrumbs">
    <VLayout>
      <VFlex
        md8
        pr-2
      >
        <VCard
          color="green"
          dark
          class="mb-4"
        >
          <VCardTitle>
            <span class="headline">
              {{ asn ? asn.name : '' }}
            </span>
          </VCardTitle>
          <VCardText>
            <table class="tw-w-full">
              <tbody>
                <tr>
                  <th class="text-xs-left">OPD</th>
                  <td>:</td>
                  <td>{{ asn && asn.agency ? asn.agency.name : '' }}</td>
                </tr>
                <tr>
                  <th class="text-xs-left">Eselon</th>
                  <td>:</td>
                  <td>{{ asn && asn.echelon ? asn.echelon.name : '' }}</td>
                </tr>
                <tr>
                  <th class="text-xs-left">Golongan</th>
                  <td>:</td>
                  <td>{{ asn && asn.rank ? asn.rank.name : '' }}</td>
                </tr>
              </tbody>
            </table>
          </VCardText>
        </VCard>
      </VFlex>
      <VFlex
        md4
        pl-2
      >
        <VCard
          color="red"
          dark
          class="mb-4"
        >
          <VCardTitle>
            <span class="headline">
              TPP
            </span>
          </VCardTitle>
          <VCardText>
            <table class="tw-w-full">
              <tbody>
                <tr>
                  <th class="text-xs-left">Besaran Awal</th>
                  <td>:</td>
                  <td>{{ asn && asn.tpp ? asn.tpp.value : 0 | rupiah }}</td>
                </tr>
                <tr>
                  <th class="text-xs-left">Potongan</th>
                  <td>:</td>
                  <td>{{ totalDeduction | rupiah }}</td>
                </tr>
                <tr>
                  <th class="text-xs-left">Besaran Akhir</th>
                  <td>:</td>
                  <td>{{ finalTpp | rupiah }}</td>
                </tr>
              </tbody>
            </table>
          </VCardText>
        </VCard>
      </VFlex>
    </VLayout>
    <UtilityCard
      title="Detail Kehadiran"
      :loading="loading"
    >
      <template #toolbar>
        <VBtn
          color="primary"
          @click="exportReportHandler"
        >
          Cetak
        </VBtn>
      </template>
      <VDataTable
        :headers="tableHeaders"
        :items="filteredData"
        :total-items="filteredData.length"
        hide-actions
      >
        <template #items="{ item }">
          <td>{{ item.date }}</td>
          <td>{{ item.checkIn ? item.checkIn.substr(0, 5) : '-' }}</td>
          <td>{{ item.checkOut ? item.checkOut.substr(0, 5) : '-' }}</td>
          <td>{{ item.type ? item.type.name : '-' }}</td>
          <td class="text-xs-right">{{ item.deduction | rupiah }}</td>
        </template>
      </VDataTable>
    </UtilityCard>
  </PageWrapper>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import breadcrumbs from './breadcrumbs'
import { FETCH_TPP_BY_ASN_REPORT } from '@/stores/types/reportTypes'
import { FETCH_ONE_ASN } from '@/stores/types/asnTypes'
import { rupiah } from '@/filters/currency'

export default {
  name: 'AsnTppReport',

  filters: {
    rupiah
  },

  data () {
    return {
      breadcrumbs,
      form: {
        agencyId: null,
        start: null,
        end: null
      },
      tableHeaders: [
        {
          value: 'date',
          text: 'Tanggal'
        },
        {
          value: 'checkIn',
          text: 'Datang'
        },
        {
          value: 'checkOut',
          text: 'Pulang'
        },
        {
          value: 'type.name',
          text: 'Status'
        },
        {
          value: 'deduction',
          text: 'Potongan',
          align: 'right'
        }
      ],
      asn: {},
      reportData: []
    }
  },

  computed: {
    ...mapState({
      loading: ({ Report }) => Report.isFetching
    }),

    filteredData () {
      return this.reportData
        .filter(item => item.isWorkdayAccordingToWorkshift)
        .map(item => ({
          ...item,
          checkIn: item.type && item.type.id === 'A'
            ? '-'
            : item.checkIn,
          checkOut: item.type && item.type.id === 'A'
            ? '-'
            : item.checkOut
        }))
    },

    totalDeduction () {
      return this.filteredData.reduce((carry, item) => {
        return carry + item.deduction
      }, 0)
    },

    finalTpp () {
      if (!this.asn.tpp) return 0

      return this.asn.tpp.value - this.totalDeduction
    }
  },

  async mounted () {
    await this.fetchDataHandler()
  },

  methods: {
    ...mapActions({
      fetchTppByAsnReport: FETCH_TPP_BY_ASN_REPORT,
      fetchAsn: FETCH_ONE_ASN
    }),

    async fetchDataHandler () {
      const fetchAsn = this.fetchAsn(this.$route.params.asnId)
      const fetchReport = this.fetchTppByAsnReport({
        asnId: this.$route.params.asnId,
        start: this.$route.params.start,
        end: this.$route.params.end
      })

      this.asn = await fetchAsn
      this.reportData = await fetchReport
    },

    exportReportHandler () {
      const {
        asnId,
        start,
        end
      } = this.$route.params

      const url = `${process.env.VUE_APP_API_URL}report/tpp-by-asn/export?asnId=${asnId}&start=${start}&end=${end}`

      window.open(url, '_blank')
    }
  }
}
</script>
