<template>
  <form @submit.prevent="submitHandler">
    <VTextField
      v-model="userName"
      label="Nama Pengguna (Untuk Login)"
    />
    <VTextField
      v-model="userFullName"
      label="Nama Lengkap"
    />
    <VTextField
      v-if="!editMode"
      v-model="userPassword"
      type="password"
      label="Kata Sandi"
    />
    <VTextField
      v-if="!editMode"
      v-model="userPasswordConf"
      type="password"
      label="Konfirmasi Kata Sandi"
    />
    <RoleControl>
      <template #default="{ loading, items }">
        <VProgressLinear
          v-if="loading"
          :indeterminate="true"
          class="mb-4"
        />
        <VSelect
          v-if="!loading"
          v-model="userRoleId"
          label="Peran"
          :items="items"
          item-value="id"
          item-text="name"
        />
      </template>
    </RoleControl>
  </form>
</template>

<script>
import RoleControl from '@/components/Renderless/RoleControl'
import { GET_USER_FORM, SET_USER_FORM } from '@/stores/types/userTypes'
import validator from './validator'

export default {
  name: 'UserForm',

  components: {
    RoleControl
  },

  props: {
    editMode: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    form () {
      return this.$store.getters[GET_USER_FORM]
    },

    userName: {
      get () {
        return this.$store.getters[GET_USER_FORM].name
      },
      set (name) {
        this.$store.commit(SET_USER_FORM, { name })
      }
    },

    userFullName: {
      get () {
        return this.$store.getters[GET_USER_FORM].fullName
      },
      set (fullName) {
        this.$store.commit(SET_USER_FORM, { fullName })
      }
    },

    userPassword: {
      get () {
        return this.$store.getters[GET_USER_FORM].password
      },
      set (password) {
        this.$store.commit(SET_USER_FORM, { password })
      }
    },

    userPasswordConf: {
      get () {
        return this.$store.getters[GET_USER_FORM].passwordConf
      },
      set (passwordConf) {
        this.$store.commit(SET_USER_FORM, { passwordConf })
      }
    },

    userRoleId: {
      get () {
        return this.$store.getters[GET_USER_FORM].roleId
      },
      set (roleId) {
        this.$store.commit(SET_USER_FORM, { roleId })
      }
    }
  },

  watch: {
    form: {
      deep: true,
      handler () {
        this.$emit('input', !this.$v.$invalid)
      }
    }
  },

  validations: validator,

  methods: {
    submitHandler () {
      // Do nothing
    }
  }
}
</script>
